<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891812150665-3o4tlf7565fh0klfhjbq9suqqe59rt7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891812150665-3o4tlf7565fh0klfhjbq9suqqe59rt7c</string>
	<key>API_KEY</key>
	<string>AIzaSyBFxN8gxjD87W0LkW1rbGDdZo4XRXzCYkA</string>
	<key>GCM_SENDER_ID</key>
	<string>891812150665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.n30gu1.SchoolMan</string>
	<key>PROJECT_ID</key>
	<string>schoolman-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolman-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891812150665:ios:e528ad0f71015f93b7f558</string>
</dict>
</plist>